@model Bg_Fishing.MvcClient.Models.ViewModels.Common.VideoGalleriesViewModel

@{
    ViewBag.Title = "Видео галерии";
}

@section PageStyles {
    <link href="~/Content/page-styles/videos-styles.css" rel="stylesheet" />
    }

<div class="container col-sm-4 col-sm-offset-4">
    @Html.LabelFor(m => m.Galleries, new { @for = "galleries", @class = "label label-warning" })
    @Html.DropDownListFor(m => m.GalleryName, Model.Galleries, new { @id = "galleries", @class = "form-control col-sm-4" })
</div>
<div class="container col-sm-12">
    <h2 id="gallery-name" class="text-center text-info"></h2>
</div>
<div id="videos-container" class="container col-sm-12"></div>

@section PageScripts{
    <script src="~/Scripts/page-scripts/show-videos.js"></script>
}