@{
    ViewBag.Title = "Contact";
}

@Html.Partial("_ContactHeaderPartial")

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
        </div>
    </div>
</div>