@model Bg_Fishing.MvcClient.Areas.Moderator.Models.RemoveVideoViewModel
@{
    ViewBag.Title = "Премахване на видео";
}

@section  PageStyles {
    <link href="~/Content/page-styles/videos-styles.css" rel="stylesheet" />
}

<div class="container">
    <div class="col-sm-5 col-sm-offset-3">
        <p id="result"></p>
        @Html.LabelFor(m => m.GalleriesSelect, new { @class = "label label-success" })
        <select id="GalleriesSelect" class='form-control'>
            @foreach (var item in Model.GalleriesSelect)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="col-sm-12">
        <hr />
        <ul id="videos-container" class="list-group row"></ul>
    </div>
</div>

@section PageScripts {
    <script src="~/Scripts/page-scripts/remove-video.js"></script>
    }