<footer id="footer">
    <div class="container">
        <div class="row">
            <hr />
            <h3 class="footertext">Контакти:</h3>
            <div class="col-md-4">
                <center>
                    <a href="https://telerikacademy.com/Users/p_a_v_el" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <br>
                    <h4 class="footertext">Telerik Academy</h4>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <a href="https://www.facebook.com/pavel.angelov.35" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <br>
                    <h4 class="footertext">Facebook</h4>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <a href="https://github.com/pavelangelov" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <br>
                    <h4 class="footertext">Github</h4>
                </center>
            </div>
        </div>
        <br />
        <div class="row">
            <center>
                <p class="copyright text-muted">Copyright &copy; <strong class="text-success">Bg-Fishing</strong> @DateTime.Now.Year</p>
            </center>
        </div>
    </div>
</footer>