<li class="dropdown">
        <a id="options-dropdown" class="dropdown-toggle" role="button" data-toggle="dropdown">
            Опции
            <span class="glyphicon glyphicon-list"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="options-dropdown">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="dropdown-header">Менажиране на галериите</li>
                <li>
                    @Html.ActionLink("Ново видео", "Index", "AddVideo")
                </li>
            }
            else
            {

            }
        </ul>
</li>