
<div id="search-container" class="col-sm-4">
    <input type="text" id="search-value" placeholder="Търси язовир по местоположение"/>
    <a id="search-btn" class="btn">
        <span class="glyphicon glyphicon-search"></span> Search
    </a>
    <ul id="lakes-result"></ul>
</div>